.w-pagination-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.w-pagination-previous {
  display: block;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  display: block;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

.w-users-userformpagewrap {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userloginformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-userformbutton {
  width: 100%;
  text-align: center;
}

.w-users-userformfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 12px;
}

.w-users-userformerrorstate {
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
  margin-left: 20px;
  margin-right: 20px;
}

.w-users-userresetpasswordformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-users-usersignupformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userupdatepasswordformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-useraccountwrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f5f5f5;
}

.w-users-blockheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e6e6e6;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e6e6e6;
  background-color: #fff;
}

.w-users-blockcontent {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e6e6e6;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e6e6e6;
  background-color: #fff;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  background-color: #d3d3d3;
  color: #333;
}

body {
  font-family: Relative, sans-serif;
  color: #161616;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 56px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.03em;
}

h4 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.02em;
}

p {
  margin-bottom: 0px;
}

a {
  color: #fcfcfc;
  text-decoration: underline;
}

.page-wrapper {
  position: relative;
  z-index: 0;
}

.section-hero {
  position: relative;
}

.container {
  width: 90vw;
  max-width: 1360px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.padding-vertical-xxlarge {
  padding-top: 0px;
  padding-bottom: 0px;
}

.timeline-hero_heading-wrapper {
  position: relative;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.background-layer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #00ff40;
  background-color: #000;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-underline {
  display: inline-block;
  margin-top: -8px;
  margin-bottom: -8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-image: url('../images/Underline.svg');
  background-position: 50% 110%;
  background-size: contain;
  background-repeat: no-repeat;
}

.margin-bottom-medium {
  margin-bottom: 32px;
}

.paragraph-large {
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 20px;
  letter-spacing: -0.02em;
}

.paragraph-large.typed.typed-text {
  font-family: Inconsolata, monospace;
  color: #e9e2e2;
}

.section-timeline-heading {
  background-color: #000;
}

.padding-vertical-xlarge {
  padding-top: 120px;
  padding-bottom: 120px;
}

.timeline-main_heading-wrapper {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
}

.timeline_component {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.timeline_item {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  padding-top: 80px;
  padding-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 180px 1fr;
  grid-template-columns: 1fr 180px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.timeline_left {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: right;
}

.timeline_centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.timeline_date-text {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 26px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  direction: ltr;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  text-align: left;
  letter-spacing: -0.03em;
}

.timeline_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 93px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  direction: ltr;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.timeline_circle {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  width: 15px;
  height: 15px;
  max-height: 15px;
  max-width: 15px;
  min-height: 15px;
  min-width: 15px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 8px #0a0a0a;
}

.timeline_progress {
  position: absolute;
  z-index: -2;
  width: 3px;
  height: 100%;
  background-color: #414141;
}

.timeline_progress-bar {
  position: fixed;
  left: auto;
  top: 0px;
  right: auto;
  bottom: 50vh;
  z-index: -1;
  width: 3px;
  height: 50vh;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7448), color-stop(51%, #ff4848), to(#939296));
  background-image: linear-gradient(180deg, #ff7448, #ff4848 51%, #939296);
}

.section-timeline {
  position: relative;
  z-index: -3;
  background-color: #000;
  color: #000;
}

.section-timeline-cta {
  background-color: #000;
}

.margin-bottom-xlarge {
  margin-bottom: 56px;
}

.timeline_image-wrapper {
  overflow: hidden;
  border-radius: 12px;
  background-image: linear-gradient(138deg, #000, transparent 28%), url('../images/Image-Background.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.timeline_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.6;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.timeline_link:hover {
  opacity: 1;
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.inline-block {
  display: inline-block;
}

.text-colour-lightgrey {
  font-family: Inconsolata, monospace;
  color: hsla(0, 0%, 100%, 0.65);
}

.timeline_quote-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 16px;
}

.timeline_quote-image {
  width: 48px;
  height: 48px;
  margin-right: 24px;
  border-radius: 8px;
}

.timeline_quote-text-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.timeline_quote {
  margin-bottom: 16px;
  color: #fff;
  font-size: 14px;
}

.timeline_quote-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.timeline_badge {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 6px 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.timeline_definition-wrapper {
  padding: 16px;
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 0.05);
}

.text-colour-white {
  color: #fff;
}

.timeline_milestone-badge {
  display: inline-block;
  margin-bottom: 24px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #fff;
  color: #161616;
  font-size: 14px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.button-inverted {
  padding: 14px 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #161616;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.button-inverted:hover {
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.overlay-fade-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a0a0a), to(rgba(10, 10, 10, 0)));
  background-image: linear-gradient(180deg, #0a0a0a, rgba(10, 10, 10, 0));
}

.overlay-fade-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 80px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0a0a0a), to(rgba(10, 10, 10, 0)));
  background-image: linear-gradient(0deg, #0a0a0a, rgba(10, 10, 10, 0));
}

.margin-bottom-small {
  margin-bottom: 24px;
}

.button-icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.button-icon-small {
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px 12px 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #0a0a0a;
  border-radius: 8px;
  background-color: #0a0a0a;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-icon-small:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.button-icon-small.margin-right-small {
  margin-right: 16px;
}

.margin-bottom-large {
  margin-bottom: 40px;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-icon-small-secondary {
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px 12px 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #0a0a0a;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #161616;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-icon-small-secondary:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.button-icon-small-secondary.margin-right-small {
  margin-right: 16px;
}

.section-footer {
  position: relative;
}

.footer_text-wrapper {
  position: relative;
  max-width: 640px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
  text-align: center;
}

.footer_credits-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-link {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
}

.padding-vertical-footer {
  padding-top: 120px;
  padding-bottom: 40px;
}

.hero-nav {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.relume-link {
  position: relative;
  width: 124px;
  height: 33.33px;
}

.relume-logo-primary {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  color: #000;
}

.relume-logo-secondary {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  color: #fff;
}

.hero-nav_button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.brand {
  display: block;
}

.brand-2 {
  position: static;
  border-radius: 0px;
  background-color: #000;
  background-image: url('../images/logo.PNG');
  background-size: cover;
  text-align: center;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.brand-2.w--current {
  position: -webkit-sticky;
  position: sticky;
  bottom: -1px;
  z-index: auto;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  max-height: 0px;
  max-width: 0px;
  min-height: 70px;
  min-width: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -o-object-fit: none;
  object-fit: none;
}

.navbar {
  bottom: 0px;
  background-color: #000;
}

.nav-link {
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
}

.nav-link-2 {
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
}

.nav-link-3 {
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
}

.image {
  position: static;
  padding-top: 140px;
  padding-bottom: 140px;
  -o-object-fit: contain;
  object-fit: contain;
}

.heading {
  font-family: Inconsolata, monospace;
  font-size: 46px;
}

.heading.typed-text-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 122px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  font-size: 30px;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading.typed-text-heading-farsi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 122px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  direction: rtl;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  text-align: center;
}

.grid {
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-areas: ". Area";
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.paragraph {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.mydiv {
  position: relative;
  display: none;
  opacity: 1;
}

.mydefinitiontext {
  position: absolute;
  left: 0%;
  top: 37%;
  right: 0%;
  bottom: 0px;
  display: block;
  padding-top: 0px;
  padding-left: 0px;
  background-color: transparent;
  opacity: 0;
  font-size: 100%;
  line-height: 100%;
  text-align: center;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.collection-list-wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.collection-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.collection-item {
  position: static;
  display: block;
  width: auto;
  max-height: none;
  max-width: none;
  margin: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #1c1c1c;
  color: #000;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-2 {
  position: static;
  top: -60px;
  display: inline-block;
  width: 100%;
  max-height: 100%;
  margin: 10px 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph-2 {
  text-decoration: underline;
}

.text-block {
  display: block;
  margin-top: 0px;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  text-decoration: none;
}

.text-block-2 {
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  text-decoration: none;
}

.link-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-decoration: none;
  -o-object-fit: contain;
  object-fit: contain;
}

.text-block-3 {
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
}

.text-block-4 {
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
}

.text-block-5 {
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
}

.submit-button {
  display: none;
  overflow: visible;
}

.text-field {
  margin-bottom: -3px;
  font-family: 'Bbcreithqalam w rg', sans-serif;
}

.form {
  margin-bottom: 60px;
}

.section {
  background-color: #000;
}

.section.section_contact {
  margin-top: 100px;
}

.titles_static {
  position: static;
  top: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 26px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.pagination {
  padding-top: 30px;
  background-color: #000;
}

.text-block-6 {
  font-family: 'Bbcreithqalam w rg', sans-serif;
}

.icon-2 {
  font-family: Inconsolata, monospace;
}

.div-block {
  padding-top: 100px;
}

.collection-wrapper {
  display: block;
  margin-left: 0px;
  -o-object-fit: contain;
  object-fit: contain;
}

.collection-list-wrapper-2 {
  display: block;
  overflow: visible;
  -o-object-fit: contain;
  object-fit: contain;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.timeline_date-text-farsi {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 26px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  direction: rtl;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.timeline_text--farsi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 93px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  direction: rtl;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
  text-align: right;
  -o-object-fit: fill;
  object-fit: fill;
}

.timeline_text-farsi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 93px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  direction: rtl;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
  text-align: right;
  -o-object-fit: fill;
  object-fit: fill;
}

.timeline_link-farsi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.6;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  direction: rtl;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.timeline_link-farsi:hover {
  opacity: 1;
}

.titles_static-farsi {
  position: static;
  top: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 26px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.text-field-farsi {
  margin-bottom: -3px;
  direction: rtl;
  text-align: right;
}

.text-block-farsi {
  display: block;
  margin-top: 0px;
  direction: rtl;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  text-decoration: none;
}

.text-block-2-farsi {
  direction: rtl;
  font-family: Inconsolata, monospace;
  color: #e9e2e2;
  text-decoration: none;
}

.text-block-3-farsi {
  direction: rtl;
  font-family: Inconsolata, monospace;
  color: #e9e2e2;
}

.text-block-4-farsi {
  direction: rtl;
  font-family: Inconsolata, monospace;
  color: #e9e2e2;
}

.text-block-5-farsi {
  direction: rtl;
  font-family: Inconsolata, monospace;
  color: #e9e2e2;
}

.text-block-6-farsi {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  direction: rtl;
  font-family: 'Bbcreithqalam w rg', sans-serif;
}

.container-3 {
  margin-top: 50px;
}

.pagination--farsi {
  padding-top: 50px;
  background-color: #000;
}

.next {
  padding-bottom: 9px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: 'Bbcreithqalam w rg', sans-serif;
}

.section-2 {
  padding-top: 0px;
  padding-bottom: 20px;
}

.timeline_text--farsi-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 93px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  direction: rtl;
  font-family: 'Bbcreithqalam w rg', sans-serif;
  color: #e9e2e2;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
  text-align: right;
  -o-object-fit: fill;
  object-fit: fill;
}

.timeline_left-farsi {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: right;
}

.video {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.collection-item-2 {
  display: block;
}

.body {
  background-color: #000;
}

.container-4 {
  background-color: #000;
}

.section_video {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000;
}

.previous {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.section-3 {
  background-color: #000;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 64px;
  }

  .timeline_left {
    overflow: visible;
  }

  .timeline_date-text {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button-icon-small {
    position: static;
    top: 16px;
  }

  .button-icon-small-secondary {
    position: static;
    top: 16px;
  }

  .nav-link {
    background-color: #1c1c1c;
  }

  .icon {
    color: #e9e2e2;
  }

  .menu-button {
    position: relative;
    left: 220px;
    z-index: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: center;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu {
    background-color: #000;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 24px;
  }

  .padding-vertical-xxlarge {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .background-layer {
    background-position: 0px 0px, 50% 100%;
    background-size: 300px 300px, auto;
  }

  .paragraph-large {
    font-size: 18px;
  }

  .padding-vertical-xlarge {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .timeline_item {
    width: 100%;
    -ms-grid-columns: 64px 1fr;
    grid-template-columns: 64px 1fr;
  }

  .timeline_left {
    text-align: left;
  }

  .timeline_centre {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_text {
    font-size: 20px;
  }

  .timeline_progress {
    left: 6px;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }

  .timeline_quote-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .timeline_quote-image {
    margin-top: 24px;
    margin-right: 0px;
  }

  .button-inverted {
    padding: 14px 24px;
  }

  .margin-bottom-small {
    margin-bottom: 24px;
  }

  .button-icon-small {
    padding: 10px 16px 10px 14px;
  }

  .button-icon-small.hide-mobile {
    display: none;
  }

  .button-icon-small-secondary {
    padding: 10px 16px 10px 14px;
  }

  .button-icon-small-secondary.margin-right-small.mobile-margin-right-zero {
    margin-right: 0px;
  }

  .footer_credits-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .text-link.text-light-grey.privacy-policy {
    margin-bottom: 16px;
  }

  .padding-vertical-footer {
    padding-top: 80px;
    padding-bottom: 64px;
  }

  .hero-nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .brand-2.w--current {
    margin-left: 20px;
    padding-left: 0px;
  }

  .nav-link {
    background-color: #1c1c1c;
  }

  .icon {
    color: #e9e2e2;
  }

  .menu-button {
    left: 180px;
  }

  .menu-button.w--open {
    background-color: #1c1c1c;
  }

  .titles_static {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_date-text-farsi {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_text--farsi {
    font-size: 20px;
  }

  .timeline_text-farsi {
    font-size: 20px;
  }

  .titles_static-farsi {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_text--farsi-left {
    font-size: 20px;
  }

  .timeline_left-farsi {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 22px;
  }

  .page-wrapper {
    background-color: #000;
  }

  .padding-vertical-xxlarge {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .margin-bottom-medium {
    margin-bottom: 24px;
  }

  .paragraph-large {
    font-size: 16px;
  }

  .timeline_item {
    -ms-grid-columns: 48px 1fr;
    grid-template-columns: 48px 1fr;
  }

  .timeline_text {
    display: block;
    width: 100%;
    min-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    text-align: left;
  }

  .button-icon {
    display: none;
  }

  .button-icon-small {
    top: 18px;
    padding: 10px 14px;
    font-size: 13px;
  }

  .button-icon-small-secondary {
    top: 18px;
    padding: 10px 14px;
    font-size: 13px;
  }

  .brand-2.w--current {
    min-height: 60px;
    min-width: 60px;
  }

  .nav-link {
    background-color: #2c2c2c;
  }

  .icon {
    background-color: #000;
    color: #e9e2e2;
  }

  .collection-item {
    position: static;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .image-2 {
    display: block;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .text-block {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .text-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .text-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .text-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .text-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .menu-button {
    left: 122px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #000;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .timeline_text--farsi {
    display: block;
    width: 100%;
    min-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    text-align: left;
  }

  .timeline_text-farsi {
    display: block;
    width: 100%;
    min-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    text-align: right;
  }

  .text-block-farsi {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .text-block-2-farsi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .text-block-3-farsi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .text-block-4-farsi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .text-block-5-farsi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }

  .timeline_text--farsi-left {
    display: block;
    width: 100%;
    min-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    text-align: right;
  }

  .collection-item-2 {
    padding-bottom: 10px;
  }

  .collection-item-3 {
    padding-bottom: 10px;
  }
}

#w-node-a2eb799a-ea56-4253-f9bb-bf13560064be-5c7f0122 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a2eb799a-ea56-4253-f9bb-bf13560064be-167f0127 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe1-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe4-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe6-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
  }

  #w-node-_0488106f-ce92-9b7b-01c3-8ad75f3f5e36-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0488106f-ce92-9b7b-01c3-8ad75f3f5e39-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_5b7ae63b-6f00-e542-a023-96ea5c4a96e4-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_5b7ae63b-6f00-e542-a023-96ea5c4a96e7-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-e0f4f25e-22f1-da39-65d5-a453ca30c732-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-e0f4f25e-22f1-da39-65d5-a453ca30c735-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ca21cc2f-00d7-84a3-f446-587e32a59c01-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ca21cc2f-00d7-84a3-f446-587e32a59c04-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_37ab9472-ef92-a1c7-f6c5-ffbef2542159-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_37ab9472-ef92-a1c7-f6c5-ffbef254215c-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_3f36ed1c-86ad-66f2-a7e0-a2e345d5b492-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_3f36ed1c-86ad-66f2-a7e0-a2e345d5b495-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_24c49997-4a3d-4bd7-0915-1f0630d904af-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_24c49997-4a3d-4bd7-0915-1f0630d904b2-5c7f0122 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe6-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
  }

  #w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe4-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe1-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0488106f-ce92-9b7b-01c3-8ad75f3f5e39-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0488106f-ce92-9b7b-01c3-8ad75f3f5e36-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_5b7ae63b-6f00-e542-a023-96ea5c4a96e7-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_5b7ae63b-6f00-e542-a023-96ea5c4a96e4-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-e0f4f25e-22f1-da39-65d5-a453ca30c735-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-e0f4f25e-22f1-da39-65d5-a453ca30c732-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ca21cc2f-00d7-84a3-f446-587e32a59c04-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ca21cc2f-00d7-84a3-f446-587e32a59c01-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_37ab9472-ef92-a1c7-f6c5-ffbef254215c-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_37ab9472-ef92-a1c7-f6c5-ffbef2542159-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_3f36ed1c-86ad-66f2-a7e0-a2e345d5b495-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_3f36ed1c-86ad-66f2-a7e0-a2e345d5b492-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_24c49997-4a3d-4bd7-0915-1f0630d904b2-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_24c49997-4a3d-4bd7-0915-1f0630d904af-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-a2eb799a-ea56-4253-f9bb-bf13560064be-5c7f0122 {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }

  #w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe6-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
  }

  #w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe4-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-d5abcf1f-3370-3eea-ccfd-66f076babfe1-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ca21cc2f-00d7-84a3-f446-587e32a59c04-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ca21cc2f-00d7-84a3-f446-587e32a59c01-167f0127 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-a2eb799a-ea56-4253-f9bb-bf13560064be-167f0127 {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

@font-face {
  font-family: 'Bbcreithqalam w rg';
  src: url('../fonts/BBCReithQalam_W_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('../fonts/Relative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('../fonts/Relative-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('../fonts/Relative-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bbcreithsans rg';
  src: url('../fonts/9038-BBCReithSans_Rg.e3c4ef29-2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}